@import '../../../assets/scss/_variables';

.webform {
    max-width: $screen-xs*2;
    cursor: default;
    z-index: 1;
}

.form_title {

    & h2 {
        color: $white;
        font-weight: 600;
        font-size: $offset-lg;
    }
    & .job {
        display: block;
        font-weight: 600;
        font-size: $offset-xl;
        & i {
            font-style: normal;
            font-weight: 600;
        }
    }
}

.inputBox {
    position: relative;
    display: block;
    margin: $offset-md 0;
}

.input {
    width: 100%;
    font-size: $offset-lg;
    background: none;
    border: none;
    color: $white;
    border-bottom: 2px solid $white;
    box-sizing: border-box;
    padding: $offset-md $offset-md;
    display: block;
    outline: none;
    &_label {
        color: $white;
        cursor: default;
        // font-weight: 300;
        // font-size: $offset-lg;
        // position: absolute;
        // top: $offset-md;
        // left: $offset-md;
    }
}

.select {
    width: 100%;
    font-size: $offset-lg;
    background: none;
    border: none;
    color: $white;
    border-bottom: 2px solid $white;
    outline: none;
    box-sizing: border-box;
    padding: $offset-md $offset-md;
    display: block;
}

.submitBox {
    margin: $offset-lg 0 0;
    display: flex;
    align-items: center;
}

.button {
    font-size: $offset-lg;
    padding: $offset-sm $offset-md;
    box-sizing: border-box;
    background: none;
    border: 2px solid $white;
    color: $white;
    border-radius: $offset-sm;
    cursor: pointer;
    &:hover {
        background-color: $color-turq;
        border-color: $color-turq;
    }
    &-form {
        
    }
}

.checkbox {
    margin: 0;
    margin-left: $offset-md;
    width: 20px;
    height: 20px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: none;
    }
}

.agree {
    display: flex;
    align-items: center;
    &-text {
        margin-left: $offset-sm;
        font-size: $font-lg;
        color: $white;
    }
}