/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/_variables';
@import 'assets/styles/_mixins';
@import 'assets/styles/common/_reset';
@import 'assets/styles/common/_buttons';
@import 'assets/styles/common/_popup';
@import 'assets/styles/common/_flex';
@import 'assets/styles/common/_custom-link';
@import 'assets/styles/common/_transition';

.wrapper {
    max-width: $screen-xl;
    margin: 0 auto;
    display: block;
    position: relative;
}
