@import '../../../assets/styles/_variables';
@import '../../../assets/styles/_mixins';

:host {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $smoke-color;
    overflow: hidden;
}

.preloader {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    display: inline-block;
    &_label {

    }
}