.photo_project {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  &__link {
    display: inline-block;
    width: 32%;
    height: 250px;  
    margin: $offset-md 0;
  }
  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }
  &__content {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -30%, 0);
  }
  &__title {
    font-size: 1.6rem;
    color: $white;
    padding: $offset-sm $offset-xs;
    display: block;
    background-color: rgba(245, 108, 153, 0.6);
  }
  &__button {
    position: relative;
    z-index: 1;
    display: block;
    margin: $offset-md auto 0;
  }
  &:hover &__button {
    border-color: rgba(245, 108, 153, 0.5);
    background-color: rgba(245, 108, 153, 0.5);
    color: white;
  }
  &:hover &__button:hover {
    background-color: $pink_button;
    border-color: $pink-button;
  }
}
