$wrapper: 1250px;
$wrapper-md: 95%;

$offset-xs: 4px;
$offset-s: 8px;
$offset-m: 16px;
$offset-l: 24px;
$offset-xl: 30px;

$font-xl: 3rem;

$bg_color: #fff;

$font_color: #222;
$hover_color: #2196f3;

$window_xl: 1250px;
$window_l: 998px;
$window_m: 790px;
$window_s: 650px;
$window_xs: 480px;

$button-color: #fed919;
