<header class="header">
    <div class="wrapper">
        <div id="header-top" class="header-top">
            <div class="header-logo-link">
                <a href="#"><img id="logo" class="header-logo" src="../../../assets/img/starmix.jpg" alt="Starmix Logo"></a>
                <span class="header-logo-description">Сделано в Германии. Сделано для вас. </span>
            </div>
        </div>
        <div class="header-bottom">
            <div id="app-category" class="header-category">

            </div>
            <div id="app-navbar" class="header-navbar">
                <navbar></navbar>
            </div>
        </div>
    </div>    
</header>