.breadcrumbs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  &__item {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
  }

  &__link {
    color: $hover-color;

    &:hover {
      color: #41aafe;
    }
  }

  &__icon {
    font-size: 2rem;
    color: $color-dark;
  }
}
