.socials {
  display: block;
  
  &__item {
    display: inline-block;
    vertical-align: middle;
  }

  &__link {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: $pink-button;
    border-radius: 50%;
    
    &:hover {
      background-color: $pink-light;
    }
  }
}
