$wrapper: 1250px;
$wrapper-md: 95%;

$offset-xs: 4px;
$offset-s: 8px;
$offset-m: 16px;
$offset-l: 24px;
$offset-xl: 30px;

$font-xl: 3rem;

$font_color: #fff;
$hover_color: #2196f3;
$color_dark: #222;
$color-light: #607d8b;

$window_xl: 1250px;
$window_l: 998px;
$window_m: 790px;
$window_s: 650px;
$window_xs: 480px;

$button-color: #fed919;

$yellow2: #fed919;
$yellow1: #fee242;
$white: #fff;
$pink-light: #f978a4;
$white-pinker: #fdeff4; /*f9e7ed;*/
$pinker: #f9cfdd;
$light-pink: #fad5d7;
$darken-pink: #f9cfdd;

$pink-button: #f56c99;

$screen-sm: 768px;
$screen-md: 998px;
$screen-ml: 1080px;
$screen-xl: 1250px;
