@font-face {
	font-family: "pf-agora-sans-pro-reg";
	src: url('pfagorasanspro-reg.eot');
	src: url('pfagorasanspro-reg.eot?#iefix') format('embedded-opentype'),
	url('pfagorasanspro-reg.svg#PF Agora Sans Pro') format('svg'),
	url('pfagorasanspro-reg.woff') format('woff'),
	url('pfagorasanspro-reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}