.arrow_right {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 7px;
    /*background-image: url("../assets/img/arrow_w.png");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
